{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Kiln{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>Hello, taku</h1>
</div>

<ul class="pages">
    {% for page in pages %}
    <li class="page">
        <div class="page-content">
            <div class="page-title">{{ page.title }}</div>
            <div class="page-body">{{ page.body }}</div>
            <div class="page-test">hoge1</div>
        </div>
    </li>
    {% endfor %}
</ul>
{% endblock %}